body {
    font-family: 'Montserrat', sans-serif;
}

nav, nav a {
    text-transform: uppercase;
    color: white;

}

nav a.active {
    color: #000;
    font-weight: bold;
}

nav a:hover {
    color: #000;
}

nav h5 {
    font-weight: bold;
}

.main {
    color: white;
}

.main h1 {
    font-weight: 100;
}

.main h1 span {
    font-weight: 600;
    color: #000;
}

.main p {
    font-size: 20px;
    font-weight: 100;
    margin-top: 30px;
}

.main button {
    background-color : #000;
    color: white;
    margin-top: 20px;
}

.card-body {
    position: relative;
    overflow: hidden;
}

.bg-img {
    position: absolute;
    bottom: -58px;
    right: -60px;
    width: 50%;
}