body {
    background-color: green;
}


h2 {
    font-size: 10px;
    color: red;
}

h1 {
    font-size: 35pt;
    color: yellow;
}

p {
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 1.0in;
}