@import url('http://fonts.googleapis.com/css/family=Quicksand:400,500&subset=latin');

body {
    padding: 100px;
    background-image: linear-gradient(-20deg, #ff2846 0%, #6944ff 100% );
    text-align: center;
    font-family: 'Quicksand' sans-serif;
}

ul {
    margin-left: -45px;
}

li {
    list-style: none;
    display: inline-block;
}

.main {
    width: 800px;
    height: 520px;
    background-color: #fafafa;
    margin: 0 auto;
    padding-top: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 1px solid #eeeeeeee;
}

.img {
    background-image: url(background.jpg);
    background-color: #eaeaeaea;
    background-size: cover;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border: 1px solid #eaeaeaea;
}

h1 {
    text-align: center;
    font-size: 30px;
    margin: 0;
    font-weight: bold;
    color: #6944ff;
}

.text {
    text-align: center;
    font-size: 15px;
    margin: 0;
    color: #324e63;
}

p {
    margin: 0 auto;
    padding-top: 20px;
    width: 450px;
    height: auto;
    color: #324e63;
}
 